body{
    header{
        width: 100%;
        ul{
            img{
                margin-left: 8rem;
                margin-top: 0.5rem;
                width: 25rem;
                height: 2rem;
            }
            a{
                text-decoration: none;
                margin-left: 35rem;
            }
        }
    }
    .container{
        width: 100%;
        display: flex;
        background-color: rgba(236, 226, 226, 0.748);
        .right{
            width: 50%;
            img{
                width: 25rem;
            }
            .blue{
                width: 20rem;
                height: 10rem;
                background-color: blue;
            }
            .orange{
                width: 20rem;
                height: 10rem;
                background-color: orange;
            }
        }
        .left{
            width: 50%;
            background-color: wheat;
            // margin-left: 30%;
            h1, p{
                color: rgb(89, 89, 171);
                // text-align: center;
                font-size: 3rem;
                font-family: serif;
            }
            p{
                font-size: 1rem;
            }
            button{
                border-radius: 3rem;
                background-color: rgb(39, 71, 71);
                color: white;
                border: none;
                padding: 0.8rem 2rem 0.8rem 2rem;
                font-size: 1rem;
            }
        }
    }
    .container-1{
        h2{
            font-size: 4rem;
            text-align: center;
            color: rgb(51, 117, 117);
        }
        p{
            font-size: 2rem;
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 5rem;
        }
        .main{
            display: flex;
            width: 90%;
            margin-left: 5%;

            .main-right{
                width: 30%;
                margin-left: 3%;
                img{
                    margin-left: 8rem;
                }
                h6{
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight: 100;
                    margin-top: 1rem;
                }
                p{
                    font-size: 1.3rem;
                    margin-top: -4rem;
                }
            }
        }
        button{
            text-align: center;
            width: 15rem;
            height: 5rem;
            font-size: 1.2rem;
            font-weight: 100;
            border: none;
            border-radius: 2rem;
            color: white;
            background-color: rgba(57, 170, 170, 0.842);
            margin-left: 42rem;
            margin-top: -2rem;
        }
    }
}