section{
    background-color: rgba(255, 239, 239, 0.87);
    height: 100vh;
    padding: 190px 0px 0px 30px;
    div.round-border{
        height: 50px;
        width: 50px;
        background-color: black;
        border-radius: 50%;
        margin-left: 48%;
        margin-bottom: 40px;
        position: relative;
        i{
            position: absolute;
            color: white;
            margin-left: 25%;
            margin-top: 20%;
            font-size: 30px;
        }
    }
    h1{
        text-align: center;
        @include text-style(20px,400,$font-family);
        color: black;
    }
    form{
        @include container(60%,20%);
        margin-top: 30px;
        p{
            width: 100%;
            margin-top: 30px;
            input,button.submit-button,button.signup-button{
                outline: none;
                border: none;
                @include container(50%,25%);
                padding: 15px;
                @include text-style(16px,400,$font-family);
            }
            button{
                background-color: orange;
            }
        }
    }
    div.forgot-password{
        @include container(60%,20%);
        margin-top: 20px;
        @include display-element-flex(center,space-evenly);
        p.password-question{
            @include text-style(16px,400,$font-family);
        }
        p.account-link{
            a{
                text-decoration: none;
                @include text-style(16px,400,$font-family);
                color: orange;
            }
        }
    }
}