section{
    background-color: rgba(0, 0, 0, 0.87);
    height: 100vh;
    padding: 30px 0px 0px 30px;
    h1{
        text-align: center;
        @include text-style(30px,400,$font-family);
        color: white;
    }
    form{
        @include container(40%,30%);
        p{
            width: 100%;
            input{
                outline: none;
                border: none;
                @include container(40%,30%);
            }
        }
    }
}