@-webkit-keyframes partners-animation {
  0% {
    right: 0px;
  }
  100% {
    left: 0px;
  }
}
@keyframes partners-animation {
  0% {
    right: 0px;
  }
  100% {
    left: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

body header {
  width: 100%;
}
body header ul img {
  margin-left: 8rem;
  margin-top: 0.5rem;
  width: 25rem;
  height: 2rem;
}
body header ul a {
  text-decoration: none;
  margin-left: 35rem;
}
body .container {
  width: 100%;
  display: flex;
  background-color: rgba(236, 226, 226, 0.748);
}
body .container .right {
  width: 50%;
}
body .container .right img {
  width: 25rem;
}
body .container .right .blue {
  width: 20rem;
  height: 10rem;
  background-color: blue;
}
body .container .right .orange {
  width: 20rem;
  height: 10rem;
  background-color: orange;
}
body .container .left {
  width: 50%;
  background-color: wheat;
}
body .container .left h1, body .container .left p {
  color: rgb(89, 89, 171);
  font-size: 3rem;
  font-family: serif;
}
body .container .left p {
  font-size: 1rem;
}
body .container .left button {
  border-radius: 3rem;
  background-color: rgb(39, 71, 71);
  color: white;
  border: none;
  padding: 0.8rem 2rem 0.8rem 2rem;
  font-size: 1rem;
}
body .container-1 h2 {
  font-size: 4rem;
  text-align: center;
  color: rgb(51, 117, 117);
}
body .container-1 p {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
body .container-1 .main {
  display: flex;
  width: 90%;
  margin-left: 5%;
}
body .container-1 .main .main-right {
  width: 30%;
  margin-left: 3%;
}
body .container-1 .main .main-right img {
  margin-left: 8rem;
}
body .container-1 .main .main-right h6 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
  margin-top: 1rem;
}
body .container-1 .main .main-right p {
  font-size: 1.3rem;
  margin-top: -4rem;
}
body .container-1 button {
  text-align: center;
  width: 15rem;
  height: 5rem;
  font-size: 1.2rem;
  font-weight: 100;
  border: none;
  border-radius: 2rem;
  color: white;
  background-color: rgba(57, 170, 170, 0.842);
  margin-left: 42rem;
  margin-top: -2rem;
}

section {
  background-color: rgba(255, 239, 239, 0.87);
  height: 100vh;
  padding: 190px 0px 0px 30px;
}
section div.round-border {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  margin-left: 48%;
  margin-bottom: 40px;
  position: relative;
}
section div.round-border i {
  position: absolute;
  color: white;
  margin-left: 25%;
  margin-top: 20%;
  font-size: 30px;
}
section h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: "Roboto", sans-serif;
  color: black;
}
section form {
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
}
section form p {
  width: 100%;
  margin-top: 30px;
}
section form p input, section form p button.submit-button, section form p button.signup-button {
  outline: none;
  border: none;
  width: 50%;
  margin-left: 25%;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: "Roboto", sans-serif;
}
section form p button {
  background-color: orange;
}
section div.forgot-password {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
section div.forgot-password p.password-question {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: "Roboto", sans-serif;
}
section div.forgot-password p.account-link a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: "Roboto", sans-serif;
  color: orange;
}/*# sourceMappingURL=style.css.map */